# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [27]:
# Average player age = 25.9 years
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from  itertools import groupby
nba = pd.read_csv('nbastats2018_2019.csv')
nba.head(5)
nba['Age'].mean()

25.900191938579656

# What player scored the most points?

In [30]:
#James Harden has the most points with 36.1 points
nba_points = nba.groupby('Name')['Points'].sum().sort_values(ascending = False)
nba_points.head(5)

Name
James Harden             36.1
Paul George              28.0
Giannis Antetokounmpo    27.7
Joel Embiid              27.5
LeBron James             27.4
Name: Points, dtype: float64

# What player had the most blocks during the season? Was it a post player (F/C)?

In [35]:
#Myles Turner had the most with 2.7 blocks and is a Center
nba_blocks = nba.groupby('Name')['Blocks'].sum().sort_values(ascending = False)
nba_blocks.head(5)
# nba.loc[nba['Name'] == 'Myles Turner', ['Name', 'Position']] there is no position data in the set, but google says he was a Center

Name
Myles Turner         2.7
Anthony Davis        2.4
Mitchell Robinson    2.4
Rudy Gobert          2.3
Brook Lopez          2.2
Name: Blocks, dtype: float64

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [43]:
# James Harden as an individual has the best win share.  
#Milwaukee Bucks has the best odds given their teams winshare.  
nba_win_share_team = nba.groupby('Team')['WS'].mean().sort_values(ascending = False)
nba_win_share_player = nba.groupby('Name')['WS'].mean().sort_values(ascending = False)
nba_win_share_player.head(5)

Name
James Harden             15.2
Rudy Gobert              14.4
Giannis Antetokounmpo    14.4
Damian Lillard           12.1
Paul George              11.9
Name: WS, dtype: float64

# What player had the best 3-pt percentage?

In [49]:
#The overall best was Jordan Sibert who not only had a perfect 3-pt percentage but also took more shots than the others with perfect 3pt%
#4 Players tied with perfect 3pt percentages Jordan Sibert, Scott Machado, Eric Moreland, & Trevon Duval
#nba_3pt = nba.groupby('Name')['FG3%'].sum().sort_values(ascending = False) #this gives the best, but doesn't show attempts
nba_3pt = nba.groupby('Name').agg({'FG3%': 'sum', 'FG3A': 'sum'}).sort_values(by='FG3%', ascending=False)
nba_3pt.head(5)

                FG3%  FG3A
Name
Jordan Sibert  1.000   1.0
Scott Machado  1.000   0.3
Eric Moreland  1.000   0.2
Trevon Duval   1.000   0.3
Troy Caupain   0.667   0.8

# Who played the most minutes during the season

In [50]:
# Bradley Beal & Paul George played the most during the season at 36.9 minutes
nba_minutes = nba.groupby('Name')['MP'].mean().sort_values(ascending = False)
nba_minutes.head(5)

Name
Bradley Beal         36.9
Paul George          36.9
James Harden         36.8
Russell Westbrook    36.0
Jrue Holiday         35.9
Name: MP, dtype: float64

# What player given their player effiecency rating was the clutchest during the season?

In [52]:
#Zhou Qi dominated with 80.4 (2nd place had a score of 38.3)
nba_PER = nba.groupby('Name')['PER'].mean().sort_values(ascending = False)
nba_PER.head(5)

Name
Zhou Qi                  80.4
Trevon Duval             38.3
Gary Payton II           36.9
Alan Williams            32.9
Giannis Antetokounmpo    30.9
Name: PER, dtype: float64

# What team had the youngest roster?

In [54]:
# Chicago Bulls at 24.3 years old
nba_team_age = nba.groupby('Team')['Age'].mean().sort_values(ascending = True)
nba_team_age

Team
Chicago Bulls             24.312500
Sacramento Kings          24.400000
Orlando Magic             24.533333
New York Knicks           24.625000
Phoenix Suns              24.761905
Portland Trail Blazers    24.857143
Indiana Pacers            25.058824
Denver Nuggets            25.266667
Brooklyn Nets             25.555556
Boston Celtics            25.600000
Memphis Grizzlies         25.647059
Oklahoma City Thunder     25.750000
New Orleans Pelicans      25.777778
Cleveland Cavaliers       26.000000
Charlotte Hornets         26.000000
Detroit Pistons           26.266667
Philadelphia 76ers        26.352941
Atlanta Hawks             26.476190
Los Angeles Lakers        26.625000
Minnesota Timberwolves    26.625000
Washington Wizards        26.764706
Milwaukee Bucks           26.928571
Los Angeles Clippers      27.105263
Utah Jazz                 27.133333
Toronto Raptors           27.166667
Golden State Warriors     27.866667
Dallas Mavericks          27.866667
Houston Rockets           27.923077
San Antonio Spurs         28.133333
Miami Heat                28.181818
Name: Age, dtype: float64

# Who is the highest paid player during the seasion?

In [72]:
#Stephen Curry with $37,457,154
#Note this one had to convert the numbers to numeric, which was more difficult that initially thought to find what was 
#catching the hang up
nba2 = nba
nba2['Salary'] = nba['Salary'].replace('[\$,]', '', regex=True)  # Remove dollar signs and commas
nba2['Salary'] = pd.to_numeric(nba2['Salary'], errors='coerce')  # Convert to numeric
nba2_pay = nba2.groupby('Name')['Salary'].mean().sort_values(ascending = False)
nba2_pay
# nba2['Salary'] = nba['Salary'].str.replace('[-,]', '', regex=True).astype(float)
# nba2_pay = nba2.groupby('Name')['Salary'].sum().sort_values(ascending = False)
# nba2_pay.head(5)

Name
Stephen Curry        37457154.0
Chris Paul           35654150.0
LeBron James         35654150.0
Russell Westbrook    35654150.0
Blake Griffin        32088932.0
                        ...
Tyler Cavanaugh             NaN
Vince Edwards               NaN
Walt Lemon Jr.              NaN
Yante Maten                 NaN
Yuta Watanabe               NaN
Name: Salary, Length: 521, dtype: float64

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [76]:
#Tahjere McCall is one of 7 players who hasn't made a free throw, and he takes on avg 1 a game (the most of the 7)
nba_Free_throws = nba.groupby('Name').agg({'FT%': 'mean', 'FTA': 'mean'}).sort_values(by='FT%', ascending = True)
nba_Free_throws.head(10)

                      FT%  FTA
Name
Jacob Evans         0.000  0.0
Tahjere McCall      0.000  1.0
Terrence Jones      0.000  0.5
Donatas Motiejunas  0.000  0.7
Haywood Highsmith   0.000  0.4
C.J. Williams       0.000  0.1
Dzanan Musa         0.000  0.2
Melvin Frazier      0.250  0.4
Ray Spalding        0.333  0.9
Tyler Lydon         0.333  0.1